body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.container{
    display: flex;
    margin-bottom: 150px;
    justify-content: space-evenly;
    
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    
}




.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url("images/2back.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 200px;
    
}
.experience-area{
 
    background-image: url("images/exp-bg.png");
    background-position: left;
    background-repeat: no-repeat;
}
.half{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px grey;
    

}
#b1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#b2{
    
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    
}
footer{
    text-align: center;
}

#h33{
    text-align: center;
}
#h11{
    text-align: center;
}
#h22{
    text-align: center;
}